body{
    background-color:#DEF5E5;
    font-family: "Comfortaa" , sans-serif;
    margin: 0;
}
hr{
    border:1px dotted rgb(26, 233, 130);
    clear: both;
}
h2{
    text-transform: uppercase;
    color: #DEF5E5;
    font-size: 1.2rem;
}
.name{
    font-size: 2rem;
    color: #374259;
    text-transform: uppercase;
}
.skills,.Education{
    background-color: #BCEAD5;
    margin:0;
    padding: 30px 20px;
    clear: both;

}
.profile-image{
    width: 200px;
    border:2px solid #374259;
    border-radius: 10px;
    float: left;
    margin: 0 2rem 1rem 0;
}
.content{
    font-size: 1.5rem;
    color: #374259;
    max-width: 1500px;
}
.heading{
    color: #374259;
    
}
.fa-sharp{
    margin-left: 10px;
}
li{
    font-size: 1.2rem;
}
div{
    margin:30px 20px;
}
footer{
    background-color: #8EC3B0;
    padding-bottom: 15px;
}
.footer{
    display: flex;
    margin: 0;
    height: 20vh;
    gap: 20px;
}
.footer>ul{
    list-style: none;
    flex: 1;
}
.footer li{
    font-size: 0.8rem;
    color: #374259;
    margin-bottom: 0.5rem;
}
footer p{
    text-align: center;
    color: #374259;
    margin: 0;

}